body{
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 100vh;
    background-image: url("img/bjack.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    color: #EEEEEE;
    font-weight: bold;
}


h1{
    color: #E6B325;
    font-size: 64px;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: #800000;
    -webkit-text-stroke-width: 2px;
}

#message-el{
    font-style: italic;
}

button{
    background: #E6B325;
    width: 150px;
    color: #800000;
    border-radius: 15px;
    border: none;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    margin: 10px;
}

button:hover{
color: #E6B325;
background: #800000;
}
